venv/
__pycache__/
.pytest_cache/
.env
tests/
*.dist-info/
*.pyc
.git/
README.md
bin/
google/
grpc/
cryptography/
charset_normalizer/
certifi/
dateutil/
distro/
httpx/
httpcore/
httplib2/
requests/
rsa/
yaml/
proto/
pyasn1/
pyasn1_modules/
sniffio/
tenacity/
tqdm/
uritemplate/
multipart/
apiclient/
googleapiclient/
google_auth_httplib2.py
typing_extensions.py
six.py
_yaml/
_cffi_backend.cpython-313-x86_64-linux-gnu.so

